#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #eeffea;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
label {
  display: flex;
  justify-content: flex-start;
}
